* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: $light;
  font-family: $font-family-primary;
  scroll-behavior: smooth;
}

body {
  display: block;
  position: relative;
  font-display: swap;
}

picture,
img {
  display: block;
}
