.Card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 140px;
  height: 380px;
  border-radius: 6px;
  box-shadow: 0 0 4px lightgray;
  cursor: pointer;
  transition: transform 0.35s;
  scroll-snap-align: end;
}

.Card:hover {
  transform: scale(1.1);
}

.Card__image {
  width: 140px;
  height: 140px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  object-fit: cover;
}

.Card__text {
  padding: 10px;
}

.Card__text--title {
  margin: 6px 0;
}

.Card__text--desc {
  font-size: 0.9rem;
}

.Card__text--cat {
  display: inline;
  padding: 4px;
  border: 2px solid rgb(37, 37, 37);
  font-size: 0.8rem;
  font-weight: bold;
}

.Card__text--price {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: right;
}
