.ListProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  max-width: 1700px;
  margin: auto 100px;
  padding: 75px 0px;
}

.prods-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  margin: 50px auto;
}
