@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #000;
}

.loader {
  color: #c5c5c5;
}

.header {
  display: flex;
  justify-content: center;
  gap: 10%;
  padding-top: 50px;
  width: 100%;
  height: 350px;
  /* border: 1px solid green; */
  background-image: url(./utils/imgs/2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  filter: grayscale(100%);
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  /* border: 1px solid green; */
  height: fit-content;
  width: fit-content;
  cursor: pointer;
}

.link {
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  font-weight: 900;
  color: #000;
  transition: all 0.4s ease;
  height: fit-content;
}

.link:hover {
  color: #fff;
}

.l1 {
  width: 40px;
  height: 2.5px;
  background-color: #000;
}

.cart-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100px;
  /* border: 1px solid blue; */
  background-color: #c5c5c59a;
  height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.8s ease-in-out;
  overflow: scroll;
}

.active {
  opacity: 1;
  height: 250px;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 125px 25px;
  width: 100%;
  /* border: 1px solid blue; */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000;
  box-shadow: 0px 0px 6px #c5c5c5;
  color: #c5c5c5;
  width: 250px;
  min-height: 400px;
  padding: 10px;
}

.title {
  text-align: right;
  letter-spacing: 2px;
  text-transform: uppercase;
}

img {
  width: 100%;
  max-height: 171px;
  border-radius: 4px;
  filter: grayscale(100%);
  cursor: pointer;
}

.desc {
  text-align: left;
  letter-spacing: 1.5px;
  font-weight: 900;
  text-transform: lowercase;
  cursor: default;
}

.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addBtn {
  padding: 2.5px 0px;
  width: 50%;
  cursor: pointer;
  background-color: #c5c5c5;
  border: none;
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
  transition: all 0.4s ease-in-out;
}

.addBtn:hover {
  color: #ffffff;
}

.price {
  font-size: 0.8rem;
  color: #ffffff;
}

.single-cart {
  /* border: 1px solid red; */
  display: flex;

  align-items: flex-end;
  justify-content: space-between;
  gap: 25px;
  width: 350px;
  padding: 15px 0px;
}

.remove {
  display: none;
}

.cart-img {
  width: 50px;
  cursor: default;
  left: 500px;
}

.btn-remove {
  padding: 2.5px;
  width: 25px;
  cursor: pointer;
  background-color: #000;
  border: none;
  color: #c5c5c5;
  text-transform: uppercase;
  font-weight: 900;
  transition: all 0.4s ease-in-out;
}

.btn-remove:hover {
  color: #ffffff;
}
