@import './scss/variablesDefault';
@import './scss/mixins';

.App {
  position: relative;
  font-family: $font-family-primary;
  scroll-behavior: smooth;
  min-height: 100vh;
}

// .Home {
//   @include flex-container(column);

//   height: 100vh;
//   width: 100vw;

//   .Navbar {
//     @include flex-container(row, space-between);

//     height: 10vh;
//     padding: 25px 75px;
//     width: 100%;
//     max-width: 1600px;
//     margin: 0 auto;

//     .menu {
//       @include flex-container(row, center, center, 20px);
//       @include text-style(normal, 1.25rem, none, capitalize, 0.1rem);

//       li {
//         transition: $transition;
//         cursor: pointer;

//         &:hover {
//           color: $secondary-color;
//         }
//       }
//     }

//     .logo {
//       color: $secondary-color;
//       font-size: 5rem;
//     }

//     .btn {
//       @include button(
//         $secondary-color,
//         $primary-color,
//         $secondary-color,
//         $primary-color,
//         1rem
//       );
//     }
//   }

//   .Hero {
//     @include flex-container(column, space-evenly, center);
//     position: relative;
//     padding: 25px;
//     height: 90vh;
//     width: 100%;
//     max-width: 1600px;
//     margin: 0 auto;

//     .textWrapper {
//       @include flex-container(row-reverse, center, center, 20px);
//       width: 800px;
//       height: 300px;
//       padding: 25px;
//       position: absolute;
//       bottom: 6rem;
//       right: 6rem;

//       z-index: 15;

//       .text {
//         width: 30%;
//         @include text-style(
//           bold,
//           2rem,
//           none,
//           uppercase,
//           0.1rem,
//           $secondary-color,
//           start
//         );
//       }

//       .line {
//         height: 75%;
//         width: 0.75px;
//         background-color: $primary-alpha-color;
//         border: 0;
//       }

//       .textSub {
//         width: 60%;
//         @include text-style(
//           normal,
//           1.5rem,
//           none,
//           capitalize,
//           0.1rem,
//           $primary-color,
//           end
//         );
//       }
//     }

//     .textWrapperSecond {
//       @include flex-container(row, center, center, 20px);
//       width: 800px;
//       height: 250px;
//       padding: 25px;
//       position: absolute;
//       top: 10%;
//       left: 5%;

//       z-index: 15;

//       .text {
//         width: 30%;
//         @include text-style(
//           bold,
//           2rem,
//           none,
//           uppercase,
//           0.1rem,
//           $secondary-color,
//           end
//         );
//       }

//       .line {
//         height: 75%;
//         width: 0.75px;
//         background-color: $primary-alpha-color;
//         border: 0;
//       }

//       .textSub {
//         width: 60%;
//         @include text-style(
//           normal,
//           1.5rem,
//           none,
//           capitalize,
//           0.1rem,
//           $primary-color,
//           start
//         );
//       }
//     }

//     .videoWrapper {
//       width: 90%;
//       height: 610px;
//       margin: 0 auto;
//       box-shadow: $primary-shadow;
//       border-radius: 40px;

//       video {
//         width: 100%;
//         height: 100%;
//         filter: saturate(1.2);
//         border-radius: 40px;
//         object-fit: cover;
//         transition: $transition;
//         &:hover {
//           border-radius: 0;
//         }
//       }
//     }
//   }

//   &::before {
//     content: '';
//     position: absolute;
//     height: 100vh;
//     width: 100vw;

//     background-image: url('https://images.unsplash.com/photo-1503788311183-fa3bf9c4bc32?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80');
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: start;
//     opacity: 0.2;
//     z-index: -15;
//     -webkit-clip-path: polygon(
//       0% 0%,
//       0% 100%,
//       15% 100%,
//       15% 20%,
//       85% 20%,
//       85% 90%,
//       15% 90%,
//       15% 100%,
//       100% 100%,
//       100% 0%
//     );
//     clip-path: polygon(
//       0% 0%,
//       0% 100%,
//       15% 100%,
//       15% 20%,
//       85% 20%,
//       85% 90%,
//       15% 90%,
//       15% 100%,
//       100% 100%,
//       100% 0%
//     );
//   }
// }

.Main {
  @include flex-container(row-reverse);
  position: relative;
  height: 100vh;
  width: 100vw;
  max-width: 1600px;
  padding: 20px;
  margin: 0 auto;

  .navMain {
    @include flex-container(column, center, center, 20px, wrap);
    @include text-style(
      normal,
      1.25rem,
      none,
      uppercase,
      0.1rem,
      $secondary-color
    );
    padding: 20px;

    width: 20%;
    height: 100%;
    overflow-wrap: break-word;

    .navMainList {
      padding: 20px 10px;
      width: 100%;
      cursor: pointer;
      transition: $transition;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .Content {
    @include flex-container(row, center, center, 0px, wrap);
    margin: 0 auto;
    width: 80%;
    max-width: 1600px;
    height: 75%;
    padding: 20px;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .Card {
    position: relative;
    margin: 20px 65px;
    width: 250px;
    height: 250px;
    border-radius: $primary-radius;
    box-shadow: $secondary-shadow;
    cursor: pointer;
    filter: saturate(1.75) brightness(0.75) contrast(1.2);

    &:hover {
      filter: grayscale(0.5);

      .info {
        animation: right-to-left 0.5s ease-in-out 0.5s forwards;
        filter: blur(0px);
      }
    }

    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $primary-radius;
    }

    .info {
      @include flex-container(column, center, center, 10px);
      @include text-style;

      position: absolute;
      left: 60%;
      bottom: 50%;
      transform: translateY(50%);

      padding: 10px;
      width: 75%;
      min-height: 200px;
      overflow-y: scroll;
      background-color: #00000095;
      box-shadow: $primary-shadow;
      border-radius: $primary-radius;
      transition: all 0.35s ease-in-out;
      filter: blur(4px);

      z-index: -1;

      .list {
        @include flex-container(column, center, flex-start, 5px);
        width: 75%;
      }
    }
  }

  .SingleItem {
    @include flex-container;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    height: 500px;
    width: 950px;
    background-color: $primary-alpha-color;
    border-radius: $primary-radius;
    box-shadow: $secondary-shadow;

    .text {
      @include flex-container(column, space-evenly, center);
      width: 50%;
      height: 100%;
      padding: 25px;

      .btn {
        position: absolute;
        top: 5%;
        left: 5%;
        background-color: transparent;
        color: $secondary-color;
        border: 0;
        font-size: 1.75rem;
        cursor: pointer;
      }

      .plain {
        @include text-style(
          normal,
          1rem,
          none,
          capitalize,
          0.1rem,
          $primary-color,
          right
        );
        .title {
          color: $secondary-color;
          margin-bottom: 15px;
        }
      }

      .lists {
        @include flex-container(row, center, flex-start, 20px);

        width: 100%;
        padding: 20px;

        .title {
          padding-bottom: 15px;
        }

        .list {
          @include text-style(
            normal,
            1rem,
            square,
            capitalize,
            0.1rem,
            $primary-color,
            left
          );

          width: 50%;

          .item {
            margin-left: 15px;
          }
        }
      }
    }

    .imgWrapper {
      position: relative;
      width: 50%;
      height: 100%;

      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-right-radius: $primary-radius;
        border-bottom-right-radius: $primary-radius;
        filter: saturate(1.75) contrast(1.2);
      }

      .caroussel {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        .btn {
          @include text-style(
            normal,
            1.1rem,
            none,
            capitalize,
            0.1rem,
            $primary-color
          );

          width: 50%;
          height: 50px;
          border: 0;
          cursor: pointer;
          transition: $transition;
          background-color: $secondary-color;
        }

        .prev:hover {
          background-color: $primary-color;
          color: $secondary-color;
          transform: scale(1.1) translateX(10.5px) translateY(-2.25px);
        }

        .next {
          border-bottom-right-radius: $primary-radius;
          &:hover {
            background-color: $bg-color;
            color: $secondary-color;
            transform: scale(1.1) translateX(-10.5px) translateY(-2.25px);
          }
        }
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    height: 100vh;
    width: 100vw;

    background-image: url('https://images.unsplash.com/photo-1503788311183-fa3bf9c4bc32?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: -15;
    -webkit-clip-path: inset(10% 30% 30% 10%);
    clip-path: inset(10% 30% 30% 10%);
  }
}

.Mission {
  @include flex-container(column);

  height: 100vh;
  width: 100vw;
  max-width: 1600px;
  margin: 0 auto;

  .textWrapper {
    @include flex-container(column, center, center, 20px);

    width: 80%;
    height: 40%;

    .text {
      width: 60%;
      @include text-style(
        bold,
        2rem,
        none,
        uppercase,
        0.1rem,
        $secondary-color,
        start
      );
    }

    .line {
      height: 0.75px;
      width: 75%;
      background-color: $primary-alpha-color;
    }

    .textSub {
      width: 60%;
      @include text-style(
        normal,
        1.5rem,
        none,
        capitalize,
        0.1rem,
        $primary-color,
        end
      );
    }
  }

  .reviews {
    @include flex-container(row, flex-start, center, 25px);

    width: 80%;
    height: 60%;
    padding: 20px;

    .card {
      @include flex-container(column, space-evenly);

      padding: 20px;

      background-color: $secondary-color;
      border-radius: $primary-radius;
      box-shadow: $primary-shadow;
      height: 500px;
      width: 350px;

      .imgWrapper {
        border: 1px solid $bg-color;
        border-radius: 50%;
        padding: 10px;
        height: 200px;
        width: 200px;
        .userImg {
          border-radius: 50%;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 0px 0px;
        }
      }

      .textWrapper {
        @include flex-container(column, space-between, center);
        @include text-style;

        padding: 10px;
        width: 100%;
        height: 50%;
        border: 0;
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    height: 100vh;
    width: 100vw;

    background-image: url('https://images.unsplash.com/photo-1503788311183-fa3bf9c4bc32?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: -15;
    -webkit-clip-path: inset(30% 10% 10% 30%);
    clip-path: inset(30% 10% 10% 30%);
  }
}

.Preorder {
  @include flex-container;

  height: 100vh;
  width: 100vw;

  .formWrapper {
    position: relative;

    .Popup {
      position: absolute;
      top: -25%;
      right: 50%;
      transform: translateX(50%);
      padding: 25px;
      border-radius: $primary-radius;
      box-shadow: $secondary-shadow;
      height: 100px;
      width: 50%;
      z-index: 5;
      @include flex-container(column);
      @include text-style(
        normal,
        1rem,
        none,
        capitalize,
        0.05rem,
        $primary-color
      );

      animation: fadeInOut 2s ease;
    }

    .title {
      @include text-style(
        bold,
        1.75rem,
        none,
        capitalize,
        0.05rem,
        $secondary-color
      );
      position: absolute;
      top: 10%;
      left: -20%;
      z-index: 15;
    }

    .form {
      @include flex-container(column, center, center, 20px);

      background-color: $primary-alpha-color;
      border-radius: $primary-radius;
      box-shadow: $secondary-shadow;
      height: 500px;
      width: 475px;

      .subInput {
        @include button(
          $bg-color,
          $secondary-color,
          $bg-color,
          $secondary-color,
          1rem
        );
        position: absolute;
        bottom: 10%;
        right: 10%;
      }

      .textInput {
        height: 30px;
        width: 40%;
        background-color: $bg-color;
        color: $primary-color;
        text-align: center;
        text-transform: uppercase;
        border-radius: $primary-radius;
        border: 0;

        &::placeholder {
          color: $primary-color;
        }

        &:focus {
          outline: none;
          &::placeholder {
            color: transparent;
          }
        }
      }

      .dateInput,
      .timeInput {
        height: 30px;
        width: 30%;
        background-color: $bg-color;
        color: $primary-color;
        padding: 10px;
        border-radius: $primary-radius;
        border: 0;

        &::-webkit-calendar-picker-indicator {
          cursor: pointer;
        }

        &::placeholder {
          color: $primary-color;
        }

        &:focus {
          outline: none;
        }
      }
    }

    .delBtnForm {
      position: absolute;
      bottom: 10%;
      left: 10%;
      padding: 0.5rem 1.5rem;
      font-size: 0.75rem;
      letter-spacing: 0.05rem;
      background-color: transparent;
      border: 0;
      color: $primary-color;
      text-transform: capitalize;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
    }
  }

  .btnUp {
    position: fixed;
    bottom: 6rem;
    right: 6rem;
    font-size: 1.75rem;
    color: $secondary-color;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }

  &::before {
    content: '';
    position: absolute;
    height: 100vh;
    width: 100vw;

    background-image: url('https://images.unsplash.com/photo-1503788311183-fa3bf9c4bc32?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: -15;
    -webkit-clip-path: inset(30% 30% 10% 10%);
    clip-path: inset(30% 30% 10% 10%);
  }
  &::after {
    content: '';
    position: absolute;
    height: 100vh;
    width: 100vw;

    background-image: url('https://images.unsplash.com/photo-1503788311183-fa3bf9c4bc32?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    opacity: 0.1;
    z-index: -15;
    -webkit-clip-path: inset(10% 10% 30% 30%);
    clip-path: inset(10% 10% 30% 30%);
  }
}

.Footer {
  @include flex-container;

  // position: absolute;
  // top: calc(100% - 75px);
  // left: 50%;
  // transform: translateX(-50%);
  width: 80%;
  height: 75px;
  margin: 0 auto;

  .logo {
    color: $primary-color;
    font-size: 2.5rem;
    width: 50%;
    text-align: center;
  }

  .info {
    @include flex-container(row, center, center, 20px);
    @include text-style(normal, 0.75rem);
    width: 50%;
  }
}

// Effects

@media screen and (max-width: 1100px) {
  // .Home {
  //   @include flex-container(row);
  //   position: relative;

  //   .Navbar {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     z-index: 15;
  //     @include flex-container(column, space-around, center);
  //     width: 10vw;
  //     height: 100%;

  //     .menu {
  //       @include flex-container(column);
  //       z-index: 15;
  //     }
  //   }

  //   .Hero {
  //     // border: 2px solid yellow;
  //     width: 100%;
  //     height: 100%;

  //     .textWrapper {
  //       @include flex-container(column);
  //       width: 300px;
  //       height: 600px;
  //       right: 10%;
  //       top: 5%;

  //       .text {
  //         width: 100%;
  //       }

  //       .line {
  //         height: 0.75px;
  //         width: 75%;
  //       }

  //       .textSub {
  //         width: 100%;
  //       }
  //     }

  //     .videoWrapper {
  //       position: absolute;
  //       height: 100%;
  //       width: 100%;
  //       border-radius: 0;
  //       video {
  //         border-radius: 0;
  //       }
  //     }
  //   }
  // }

  .Main {
    .SingleItem {
      @include flex-container(column);
      width: 500px;
      height: 950px;

      .text {
        width: 100%;
      }

      .imgWrapper {
        width: 100%;

        .img {
          border-bottom-left-radius: $primary-radius;
          border-top-right-radius: 0;
        }

        .caroussel {
          .prev {
            border-bottom-left-radius: $primary-radius;
          }
        }
      }
    }
  }
}

@keyframes right-to-left {
  50% {
    transform: translateX(10%) translateY(50%);
    z-index: 1;
  }
  100% {
    transform: translateX(0%) translateY(50%);
    z-index: 1;
  }
}

@keyframes fadeInOut {
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
