@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  height: 100vh;
  width: 100vw;
  background-color: #000;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 25px;
  width: 75vw;
  height: 50vh;
  overflow: scroll;
}

.u-container {
  border: 1px solid #c5c5c5;
  padding: 25px;
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
  width: 450px;
  height: 250px;
  cursor: pointer;
}

.u-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #c5c5c5;
  user-select: none;
}

.t-info {
  /* border: 1px solid #c5c5c5; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  letter-spacing: 1.5px;
  font-size: 0.8rem;
}

.u-img {
  background-color: #fff;
  border-radius: 50%;
  width: 150px;
}

.title {
  color: #fff;
  padding: 25px 0px;
  text-transform: capitalize;
}

.logo {
  position: absolute;
  font-size: 1.2rem;
  left: 5%;
  top: 5%;
  color: #c5c5c5;
  user-select: none;
}

.sub {
  font-size: 0.4rem;
  color: #fff;
}

.search-input {
  background: #c5c5c52a;
  border: none;
  outline: none;
  padding: 5px;
  text-transform: capitalize;
  color: #fff;
}

.footer {
  position: absolute;
  /* border: 1px solid blue; */
  color: #c5c5c5;
  font-size: 0.4rem;
  bottom: 0;
  right: 5%;
}

.keys {
  color: #fff;
  line-height: 20px;
}

/* Modal */

.modal-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c5c5c58a;
}

.modal {
  background-color: #000;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
  width: 400px;
}

.modal-img {
  width: 300px;
}

.pass {
  font-weight: bolder;
  letter-spacing: 1px;
  color: #fff;
}

.hidden {
  display: none;
}
