.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Cart {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 75px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 400px;
  overflow-y: scroll;
  background-color: white;
  z-index: 2;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
}

.Cart button {
  align-self: flex-end;
  padding: 10px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
}

.Cart__cartList {
  border-bottom: 1px solid red;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: fit-content;
  padding: 15px;
}

.Cart__cartList--text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}

.Cart__cartList--text h1 {
  font-size: 1.5rem;
}

.Cart__cartList--text :nth-child(3) {
  padding-left: 15px;
  font-weight: bold;
}

.Cart__cartList--thumb img {
  width: 125px;
  height: 125px;
  object-fit: cover;
  border-radius: 8px;
}

.Cart__cartList__text--btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
