<footer class='footer bg-light footer-bg-dark'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-6 h-100 text-center text-lg-left my-auto'>
        <ul class='list-inline mb-2'>
          <li class='list-inline-item'>
            <a href='#'>Chi siamo</a>
          </li>
          <li class='list-inline-item'>&sdot;</li>
          <li class='list-inline-item'>
            <a href='#'>Contatti</a>
          </li>
          <li class='list-inline-item'>&sdot;</li>
          <li class='list-inline-item'>
            <a href='#'>Termini e condizioni</a>
          </li>
          <li class='list-inline-item'>&sdot;</li>
          <li class='list-inline-item'>
            <a href='#'>Privacy Policy</a>
          </li>
        </ul>
        <p class='text-muted small mb-4 mb-lg-0'>Copyright &copy; 2022<a
            href='miodominio.com/'
          >MIO SITO</a>
          Tutti i diritti riservati</p>
      </div>

    </div>
  </div>
</footer>