.Menu {
  height: 10vh;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;

  text-transform: capitalize;
  color: $primary;

  .navLogo {
    gap: 20px;
  }

  .navList {
    gap: 20px;
  }
}
