.MiniCard {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  filter: grayscale(0.3) saturate(1) contrast(1);
  transition: all 0.35s;
}

.MiniCard:hover {
  transform: scale(1.1);
  filter: grayscale(0) saturate(1.2) contrast(1.2);
}
