@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
  background-color: black;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65vw;
  height: 65vh;
  margin: 25px;
}

.wrapper {
  height: 600px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  overflow: scroll;
}

.canddles-wrapper {
  position: relative;
  height: 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.canddles-wrapper:last-child,
.info:last-child {
  border: none;
}

.green,
.red {
  height: 6px;
}

.green {
  background-color: rgba(0, 128, 0, 0.5);
}

.highs-price {
  position: absolute;
  top: 6px;
  right: 20px;
  color: green;
  font-size: 0.65rem;
}

.red {
  background-color: rgba(255, 0, 0, 0.5);
}

.lows-price {
  position: absolute;
  bottom: 6px;
  right: 20px;
  color: red;
  font-size: 0.65rem;
}

.n-container {
  height: 600px;
  width: 150px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #c5c5c5;
}

.price {
  font-size: 0.65rem;
  color: #fff;
}

.logo-coin {
  width: 20px;
}

/* Default */

.title {
  text-transform: capitalize;
  margin: 25px 0px;
  color: #fff;
}

.logo {
  position: absolute;
  top: 5%;
  left: 5%;
  color: #c5c5c5;
  font-size: 1.2rem;
}

.sub {
  color: #fff;
  font-size: 0.6rem;
}

.f-copy {
  position: fixed;
  bottom: 0;
  right: 5%;
  font-size: 0.6rem;
  color: #c5c5c5;
}
