.btn {
  width: 150px;
  padding: 7px;
  border: none;
  background-color: rgba(25, 150, 120, 0.5);
  border-radius: 4px;
  transition: all 0.35s;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 0.75px;
}

.btn:hover {
  background-color: rgb(25, 150, 120);
  color: #f4f4f4;
}
