$primary-color: #b4ced4;
$secondary-color: #b10027;
$secondary-alpha-color: #b100267c;
$primary-alpha-color: hsla(191, 27%, 77%, 0.225);
$bg-color: #0c1c21;

$primary-shadow: 0px 0px 8px #000;
$secondary-shadow: 0px 0px 8px $secondary-color;
$primary-radius: 8px;

$transition: all 0.35s ease;
