.Hero {
  position: relative;
  padding: 15px;
  max-width: 1700px;
  width: 100%;
}

.Hero img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  filter: contrast(1.2) saturate(1.2) opacity(0.5);
}

.Hero h2 {
  position: absolute;
  text-transform: capitalize;
  letter-spacing: 1.1px;
  top: calc(50% - 52px);
  left: 25%;
  color: #f5f5f5;
  font-size: 3rem;
}

h2::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(25, 150, 120);
  height: 2.5px;
  width: 75%;
}
