<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='css/style.css' />
    <title>{{title}}</title>
  </head>
  <body>
    <section class="main">
      <div class="info">
      <h2>{{title}}</h2>
      {{> img}}
      {{> navAbout}}
      </div>
          <form action="/people" method="POST">
      <input type="text" name="name" placeholder="name" />
      <input type="number" name="age" placeholder="age" />
      <input type="text" name="city" placeholder="city" />
      <button type="submit">login</button>
    </form>
    </section>
  </body>
</html>