.Home {
  color: $dark;

  min-height: 100vh;
  padding-top: 5vh;
}

.HomeHero {
  position: absolute;
  top: 0;
  height: 45vh;
  width: 100%;

  .HeroImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: saturate(1.5) contrast(1.2);
  }
}

.HomeContent {
  margin-top: 40vh;
  height: 55vh;
}
