.Home {
  color: $secondary;

  min-height: 100vh;
  padding-top: 5vh;
}

.HomeHero {
  position: absolute;
  top: 0;
  height: 35vh;
  width: 100%;

  .HeroImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: saturate(1.5) contrast(1.2) grayscale(1);
  }
}

.HomeContent {
  margin-top: 30vh;
  height: 65vh;
  padding: 0px 80px;

  .title {
    width: fit-content;
    margin: 0 auto;
    padding: 40px 0px;
    text-transform: capitalize;
  }
}
