.Main {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(100, 125, 120);
  font-size: 1.2rem;
  max-width: 1700px;
}
