<footer class='bg-success py-3 mt-auto'>

  <div class='row'>
    <div class='col-md-5 col-sm-4'></div>

    <div class='col-md-2 col-md-4 extra-small'>
      <!--Uso il codice html per creare simbolo copy-->
      <p class='text-white mb-3' id='cl-after'><em>Copyright&copy;</em></p>
      <p class='text-white mb-5'><i class='bi bi-envelope'></i>mail@mail.it</p>
      <p class='text-white mb-5'><i class='bi bi-telephone'></i>2345678</p>
    </div>

    <div class='col-md-5 col-sm-4'></div>

  </div>
</footer>