@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@400;700&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1b1b1b;
  color: #f8f8f8;
  font-family: "M PLUS 1 Code";
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  width: 460px;
  height: 360px;
}

.wrapper input {
  background-color: transparent;
  border: 0;
  color: #f8f8f8;
  text-align: center;
  outline: none;
  font-size: 3rem;
  font-family: "M PLUS 1 Code";
}

.banner {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.9rem;
  color: #6c6c6c;
}
