// Default
//--------------------------------------------------------------------///
$black: #000000;
$white: #ffffff;

// Design System
//--------------------------------------------------------------------//
$primary: #ff641b;
$secondary: #9cd2cd;
$dark: #373737;
$light: #fff9ee;
$yellow: #fdc349;
$skyblue: #9cd2cd;
$violet: #d2ceff;
$green: #c5d49b;
