// Default
//--------------------------------------------------------------------///
$black: #d8d6d6;
$white: #ffffff;

// Design System
//--------------------------------------------------------------------//
$primary: #222222;
$secondary: #5c5c5c;
$dark: #373737;
$light: #fcfcfc;
$yellow: #fdc349;
$skyblue: #9cd2cd;
$violet: #d2ceff;
$green: #a5d81a;
