// Default
//--------------------------------------------------------------------///
$black: #000000;
$white: #ffffff;

// Design System
//--------------------------------------------------------------------//
$primary: #fff;
$secondary: #c0c0c0;
$dark: #373737;
$light: #ffffff;
$yellow: #fdc349;
$skyblue: #9cd2cd;
$violet: #d2ceff;
$green: #a5d81a;
$red: #fd4949;
$lightblue: #a6c0ec;
