@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

$font-family-primary: 'Inter', sans-serif !default;
$font-family-title: 'Inter', sans-serif !default;

$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;

$line-height-base: 1em;
$base-font-size: 16px;
