@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 25px;
  background-color: #000;
}

.loader {
  color: #c5c5c5;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 76px;
  /* border: 1px solid red; */
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  /* border: 1px solid green; */
  height: 100%;
  width: fit-content;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: #c5c5c5;
  transition: all 0.4s ease;
  text-transform: capitalize;
}

.link:hover {
  color: #fff;
}

.l1 {
  width: 40px;
  height: 2.5px;
  background-color: #c5c5c5;
}

.cart-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 85px;
  /* border: 1px solid blue; */
  background-color: #c5c5c5f1;
  height: 0px;
  width: 100%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  overflow: scroll;
  z-index: 5;
}

.active {
  position: absolute;
  opacity: 1;
  height: 400px;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 90%;
  /* border: 1px solid blue; */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #c5c5c5;
  color: #c5c5c5;
  width: 250px;
  min-height: 400px;
  padding: 10px;
}

.title {
  text-align: right;
  letter-spacing: 1.5px;
}

img {
  width: 100%;
  max-height: 171px;
  border-radius: 4px;
  filter: grayscale(100%);
  cursor: pointer;
}

.desc {
  text-align: left;
  letter-spacing: 1px;
  cursor: default;
}

.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 3px 0px;
  width: 50%;
  cursor: pointer;
  background-color: #c5c5c5;
  border: none;
  border-radius: 4px;
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  color: #ffffff;
}

.price {
  color: #ffffff;
}

.single-cart {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  padding: 15px 0px;
}

.remove {
  display: none;
}

.cart-img {
  width: 50px;
  cursor: default;
}

.btn-remove {
  padding: 3px 0px;
  width: 50px;
  cursor: pointer;
  background-color: #000;
  border: none;
  border-radius: 4px;
  color: #c5c5c5;
  text-transform: uppercase;
  font-weight: 900;
  transition: all 0.4s ease-in-out;
}

.btn-remove:hover {
  color: #ffffff;
}
