.App {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .addTodo {
    position: fixed;
    bottom: 30px;
    left: calc(50vw - 50px + 6px);
    width: 70px;
    height: 70px;
    background-color: rgb(184, 39, 194);
    border-radius: 100%;
    border: 0;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
  }
}
